# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Figures written by the notebooks (key figures for the README live in docs/figures/)
figures/

# OS
.DS_Store
Thumbs.db
